* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  -webkit-user-drag: none;
}

:root {
  --text-color: white;
  --bg-url: url("./assets/bg-mobile.jpg");
  --border: #f1f1f115;
  --border-hover: #f1f1f120;
  --bg-list: rgba(255, 255, 255, 0.075);
  --bg-list-hover: rgba(255, 255, 255, 0.05);
  --social-links-hover: rgba(255, 255, 255, 0.256);
  --switch-bg-url: url("./assets/moon-stars.svg");
  --surface-color: rgba(255, 255, 255, 0.1);
  --highlight-color: rgba(255, 255, 255, 0.256);
}

.light {
  --text-color: black;
  --bg-url: url("./assets/bg-mobile-light.jpg");
  --border: #00000015;
  --border-hover: #00000020;
  --bg-list: rgba(0, 0, 0, 0.065);
  --bg-list-hover: rgba(0, 0, 0, 0.125);
  --social-links-hover: rgba(0, 0, 0, 0.256);
  --switch-bg-url: url("./assets/sun.svg");
  --highlight-color: rgba(0, 0, 0, 0.256);
}

body {
  min-height: 100vh;
  height: 100%;
  background: var(--bg-url) top center/cover no-repeat fixed;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  padding: 24px;
  text-align: center;
}

#profile img {
  width: 115px;
  height: 115px;
  object-fit: cover;
  border-radius: 50%;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;
  border-radius: 8px;
  background: var(--bg-list);
  border: 1px solid var(--border);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}

ul li a:hover {
  border: 1.25px solid var(--border-hover);
  background: var(--bg-list-hover);
}

/* social links */
#social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  font-size: 24px;
}
#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background-color: var(--social-links-hover);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* switch */
#switch {
  width: 64px;
  position: relative;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.4s forwards;
  cursor: pointer;
}

#switch button:hover {
  outline: 5px solid var(--highlight-color);
}

.light #switch button {
  animation: slider-in 0.4s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  border: 1px solid var(--border);
  background-color: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url("./assets/bg-desktop.jpg");
  }

  .light {
    --bg-url: url("./assets/bg-desktop-light.jpg");
  }
}

/* animation */
@keyframes slider-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
